@import "tailwindcss";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/600.css";

@theme {
  --font-sans: "IBM Plex Sans", system-ui, sans-serif;

  /* Figma Colors */
  --color-brand-gray-bg: #F3F3F3;
  /* Background */
  --color-brand-gray-text: #515162;
  /* Secondary Text */
  --color-brand-black-text: #000000;
  /* Primary Text */
  --color-brand-border: #E0E0E0;
  /* Borders */
}

body {
  background-color: var(--color-brand-gray-bg);
  font-family: var(--font-sans);
  color: var(--color-brand-black-text);
}